node_modules
node_modules/
package-lock.json

.DS_Store

coverage
.nyc_output

.github/

touhoulostword/
assets/

lib/**/*.js
lib/**/*.js.map
lib/**/*.d.ts

oclif.manifest.json

yarn.lock
yarn-error.log