node_modules
node_modules/
package-lock.json

.DS_Store

coverage
.nyc_output

touhoulostword/
assets/
public/

lib/**/*.js
lib/**/*.js.map
lib/**/*.d.ts

src/**/*.js
src/**/*.js.map
src/**/*.d.ts

report.*.json

yarn.lock
yarn-error.log